body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.location{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-inline: 10px;
}
.location i {
    margin-right: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 500px;
    outline: 1px solid rgba(0,0,0,0.4);
}

.search-bar input {
    border: none;
    outline: 1px none;
    width: 100%;
    padding: 5px;
}

.search-bar i {
    color: grey;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info i {
    margin-right: 5px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #8d8585;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    padding: 10px;
    background-color: #ddaf69;
    overflow: hidden;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    min-width: max-content;
    text-align: center;
    transition: background-color 0.3s;
}

.nav:hover{
    overflow-x: scroll;
}

.nav a:hover {
    background-color: white;
    color: orange;
    font-weight: bolder;
}

.main-header {
    font-size: 24px;
    font-weight: 700;
}
.deal-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-header span {
    color: #ff9900;
}

.sub-header {
    font-weight: 700;
    border-bottom: 2px dashed rgb(219, 184, 118);
}

.deal-item p {
    margin: 10px 0;
}

.deal-item .price {
    font-size: 18px;
    font-weight: 700;
}

.deal-item .discount {
    color: #ff0000;
    font-size: 14px;
    font-weight: 700;
}
.today-deals {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 20px;
}

.deals-section,
.review-section {
    margin-top: 20px;
}
.deals-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.deals-section .item,
.review-section .item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.review-section .item{
    flex-direction: row;
}
.deals-section .item{
    min-height: 360px;
    min-width: 200px;
}
.deal-item:hover{
    cursor: pointer;
}

.deals-section .item img,
.review-section .item img {
    max-width: 100%;
    height: auto;
}

.deals-section .item h3,
.review-section .item h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.deals-section .item .price,
.review-section .item .price {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.deals-section .item .discount,
.review-section .item .discount {
    font-size: 14px;
    color: #ff0000;
    font-weight: 500;
}

.deals-section .item .add-to-cart,
.review-section .item .add-to-cart {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.review-section .item .rating {
    margin-top: 10px;
}

.review-section .item .rating i {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .language {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

footer .language img {
    margin-left: 5px;
}

.menu-toggle {
    display: none;
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}

.menu-toggle:hover {
    background-color: #555;
}
.deal-item{
    width: fit-content; 
    padding: 10px 20px;
    max-width: 300px;
    margin-inline: 10px;
}

.deal-item *{
    text-align: center;
}

.deal-item img{
    max-width: 250px;
    max-height: 250px;
}

.slider-container {
    width: 80%;
    overflow: hidden;
    position: relative;
}

.slider {
transition: transform 0.5s ease-in-out;
}

.card {
    background-color: #fff;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease; 
}

.dot.active {
    width: 30px; 
    background-color: orange;
    border-radius: 20px; 
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: white;
    border:2px solid black;
    color: green;
    font-weight:bold;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .popup.show {
    opacity: 1;
    transform: translateY(0);
  }
  .add-to-cart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-btn:hover {
    background-color: #e68a00;
  }

  .slide-in-window {
    position: fixed;
    top: 0;
    right: -800px; 
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
  }
  
  .slide-in-window.show {
    right: 0;
  }
  
  .slide-in-header {
    display: flex;
    justify-content: flex-end;
    background-color: white;
  }
  
  .slide-in-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .slide-in-content {
    padding: 20px;
  }
    ul{
      padding: 0;
    }
    li{
      height: 20px;
      width: 20px;
      outline: 1px solid;
      margin: 3px;
      padding: 0;
      border-radius: 50%;
    }
    .stars{
      margin-top: 10px;
    }
    .stars i{
      color: orange;
      margin: 2px;
    }
    .share-section .links{
      background-color: rgb(207, 201, 201);
      display: flex;
      justify-content: space-between;
    }
    .links a{
      margin: 5px;
    }
    
    .color-and-quantity{
      margin-left: 10px;
    }

    .section-top,.image-section{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }
    .image-section{
      justify-content: space-between;
    }
    .image-section, .section-bottom, .share-section{
      width: 540px;
    }
    .section-top img,.image-section img:not(.image-main img){
      margin: 5px;
      border: 1px solid grey;
      border-radius: 6px;
    }
    .quantity{
      outline: 1px solid;
      border-radius: 3px;
      width: fit-content;
      padding: 5px 10px;
      margin: 5px;
    }
    .add-to-cart{
      align-self: flex-end;
      margin: 20px;
      padding: 10px 20px;
      background-color: orange;
      color: white;
      border-radius: 5px;
    }
    .add-to-cart input{
      border: none;
      background-color: orange;
      font-weight: bold;
    }
    .delivery-details{
        margin: 5px;
    }    
    .add-to-cart:hover > button{
        color: white;
    }

@media (max-width: 500px) {
    .deals {
        flex-direction: column;
    }

    .deal-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .review-section {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) {

    .review-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width:500px){
    .deals-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }
    .section_two{
    flex-direction: column;
    }   
}

@media screen and (max-width:500px) {
    .deals-section item{
        min-width: 250px;
    }
    .deals-section{
        grid-template-columns: 1fr;
    }
        
}
    